body { /* global property */
  font-size: 16px; /* for rem measurement */
}

.divide-block {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-block {
  width: 75rem; /* 1200px */
  display: flex;
}

.text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.silver {
  background-color: silver;
}

.lightgrey {
  background-color: lightgrey;
}

.width30 {
  width: 30%;
}

.margin-tb-32px {
  margin: 2rem 0;
}

.margin-lr-32px {
  margin: 0 2rem;
}

.margin-32px {
  margin: 2rem;
}

.space-between {
  justify-content: space-between;
}


/* Part 1 Header + menu */
/* шрифт для заголовка Kreon */
.display-header {
  display: block; /* display: block; display: none; */
}

.header {
  /*height: 2rem;/*удалить */
  /*background-color: red;/*удалить */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 4rem; /* 64px */
  align-items: center;
}



.logo-heder {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem; /* 32px */
  margin-left: 1.5rem; /* 24px */
}

.logo-heder img {
  height: 3rem; /* 48px */  /* откоректировать на уровне шрифта */
  width: auto;
}

.menu-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1.5rem; /* 24px */
}

.menu-header span {
  padding: 0 0.5rem; /* 0 8px */
}

.menu-header span a {
  color: black;
  text-decoration: none;
}


.mobile-menu {
  height: 4rem; /* 64px */
  display: none; /* убирает мобильное меню */
  align-items: center;

}

.mobile-menu-align {
  width: auto;
  margin: 0 1.5rem; /* 24px */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Part 2 Learn something */

.img-box {
  display: flex;
  margin: 2rem 1.5rem;
  width: 60%;
  height: auto;
}

.img-box img {
  width: 100%;
  height: 100%;
}

.text-box-h1 {
  display: block;
  margin: 0.8rem;
}
.text-box-h1 span {
  font-size: 2.3rem;
  padding: 1rem auto;

  text-align: center;
}

.text-box-h2 {
  display: block;
  margin: 0.8rem;
}
.text-box-h2 span {
  font-size: 1.3rem;
  padding: 1rem auto;
  text-align: center;
}

.text-box-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.8rem;
  background-color: dimgray;
  width: 100%;
  height: 2rem;
}
.text-box-button span {
  font-size: 1rem;
  text-align: center;

}
.text-box-button span a {
  color: black;
  text-decoration: none;
}


/* Part 3 to keep practicing */

.left-column {
  width: 65%;
  margin-bottom: 2rem;
}

.left-column-img {
  margin: 2rem 1rem 2rem 1.5rem;
  width: 92%
}

.left-column-img img {
  width: 100%;
  height: 100%
}

.left-column-h1 {
  margin: 0 1rem 2rem 1.5rem
}

.left-column-h1 span {
  font-size: 2.7rem;
}

.left-column-p {
  margin: 2rem 1rem 2rem 1.5rem
}

.left-column-p p {
  font-size: 1.1rem;
  line-height: 1.3;
}

.left-column-footer {
  margin: 2rem 1rem 2rem 1.5rem
}

.left-column-footer span {
  font-size: 1rem;
  font-weight: bold;
}

.right-column {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;;
  margin-bottom: 2rem;
}

.right-column-content {
  display: flex;
  margin-top: 2rem;
}

.right-column-content-img {
  width: 35%;
  margin: 0.5rem;
}

.right-column-content-img img {
  height: 100%;
  width: 100%;
}

.right-column-content-text {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.5rem;
}

.right-column-content-text-h1 {
  margin: 0.5rem;
}

.right-column-content-text-h1 span {
  font-size: 1.8rem;
}

.right-column-content-text-p {
  margin: 0.5rem;
}

.right-column-content-text-p span {
  font-size: 1.3rem;
}

.right-column-content-text-link {
  margin: 0.5rem;
}

.right-column-content-text-link span {
  font-size: 1rem;
}

.right-column-content-text-link span a {
  color: dodgerblue;
  text-decoration: none;
}

/* Part 4 Start learning */
.head-text {  /* and part5 */
  margin: 0 4.5rem;
  /*background-color: darkred; /* удалить */
}

.head-text h2 { /* and part5 */
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding: 2rem 0;
}

.main-content {
  margin: 0 4.5rem;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content-item {

  background-color: white;
  width: 32%;
}

.content-img {
  width: 100%;
}

.content-img img {
  width: 100%;
  height: 100%;
}

.content-text {
}

.content-text-h1 {
  margin: 0.5rem ;
}

.content-text-h1 span {
  font-size: 2rem;
  font-weight: bold;
}

.content-text-h2 {
  margin: 0.25rem 0.5rem;
}

.content-text-h2 span {
  font-size: 1.5rem;
}

.content-text-p {
  margin: 0.5rem;
}

.content-text-p p {
  font-size: 1.2rem;
  line-height: 1.4;
}

/* Part 5 Thesis exhibit */

.exhibit-content {
  margin-bottom: 2rem;
  display: flex;
  border-bottom: 2px solid Silver;
}

.exhibit-content-video {
  width: 60%;
  margin: 0 1.5rem 1.5rem 1.5rem;
}

.exhibit-content-video-element {
  width: 100%;

}

.exhibit-content-video-element video {
  width: 100%;
  height: 100%;
}

.exhibit-content-video-text {
  margin: 1.5rem 1.5rem 0 1.5rem;

}

.exhibit-content-video-text ul li:first-child {
  font-size: 2rem;
}

.exhibit-content-video-text ul li:last-child {
  font-size: 1.3rem;
  padding-top: 1rem; /* по ТЗ 0,25 rem, но смотриться не очень */
  line-height: 1.4;
}


.exhibit-content-right {
  width: 40%;
}

.exhibit-content-right-element {
  display: flex;
}

.exhibit-content-right-element-img {
  width: 35%;
  height: auto;
  margin: 0.5rem;
}

.exhibit-content-right-element-img img {
  width: 100%;
  height: 100%;
}

.exhibit-content-right-element-text {
  display: flex;
  align-items: center;
}

.exhibit-content-right-element-text ul li:first-child {
  font-size: 2rem;s
}

.exhibit-content-right-element-text ul li:last-child {
  font-size: 1.3rem;
  padding-top: 0.5rem; /* по ТЗ 0,25 rem, но смотриться не очень */
  line-height: 1.4;
}

/* Part6 Footer */
footer {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 1.5rem 5rem 1.5rem;
  width: 100%;

}

footer span {
  font-size: 1.1rem;
}

footer ul  {
  display: inline-flex;
}

footer ul li {
  padding: 0 0.8rem;
  font-size: 1.1rem;
}

footer ul li a {
  color: red;
  text-decoration:none;
}
